bin/Win32/output.bmp
*.pfm
build/.vs/mandelboxrenderer/v14/.suo
build/ALL_BUILD.vcxproj.filters
build/CMakeCache.txt
*.cmake
build/CMakeFiles/3.5.2/CMakeDetermineCompilerABI_C.bin
*.tlog
*.cache
*.exe
build/mandelboxrenderer.sln
*.log
build/mandelboxrenderer.dir/Debug/vc140.pdb
*.obj
*.check_cache
build/CMakeFiles/feature_tests.bin
*.stamp
build/CMakeFiles/generate.stamp.depend
*.filters
build/mandelboxrenderer.vcxproj.user
build/Debug/mandelboxrenderer.pdb
*.bin
build/CMakeFiles/3.5.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.vcxproj
build/CMakeFiles/3.5.2/CompilerIdC/CMakeCCompilerId.c
*.cxx
build/CMakeFiles/generate.stamp.list
*.db
build/CMakeFiles/618e13d50821dbd52707d124b867802e/generate.stamp.rule
build/CMakeFiles/TargetDirectories.txt
*.ilk
build_gcc/CMakeCache.txt